.input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input_type_profile {
  flex-direction: row;
  justify-content: space-between;
}

.input__label {
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.input__label_type_profile {
  margin: 0;
  max-width: 130px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #000;
}

.input__element {
  margin: 0;
  padding: 15px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.input__element_type_profile {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  max-width: 120px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  text-align: right;
}

.input__element_type_error {
  color: #EE3465;
}

.input__error {
  margin-top: 10px;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}
