.form {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 260px;
  height: calc(100vh - 253px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__element {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media screen and (min-width: 425px) {
  .form {
    max-height: 413px;
    max-width: 396px;
  }
}
