.notfound {
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.notfound__content {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound__info {
  margin-bottom: auto;
}

.notfound__title {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
  text-align: center;
}

.notfound__subtitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.notfound__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3456F3;
  opacity: 1;
  cursor: pointer;
  transition: opacity .2s linear;
  position: absolute;
  bottom: 30px;
}

.notfound__button:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .notfound {
    justify-content: center;
  }
  .notfound__title {
    margin-bottom: 5px;
    font-size: 140px;
    line-height: 169px;
  }

  .notfound__subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .notfound__button {
    bottom: 222px;
  }
}
