.portfolio {
  width: 100%;
}

.portfolio__title {
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%;
  max-width: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
}

.portfolio__list {
  margin: 0 0 70px 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio__item {
  margin-bottom: 20px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__row {
  margin-top: 19px;
  background-color: #E5E5E5;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity .2s linear;
  cursor: pointer;
}

.portfolio__link:hover {
  opacity: .8;
}

.portfolio__website {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.portfolio__arrow {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 600px) {
  .portfolio__title {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__list {
    margin-bottom: 90px;
  }

  .portfolio__website {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__arrow {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__list {
    margin-bottom: 125px;
  }
}
