.portfolio {
  width: 100%;
  max-width: 292px;
}

.portfolio__title {
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
}

.portfolio__list {
  list-style: none;
  margin: 0 0 70px 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio__item {
  margin-bottom: 20px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__row {
  margin-top: 19px;
  background-color: #E5E5E5;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity .2s linear;
  cursor: pointer;
}

.portfolio__link:hover {
  opacity: .8;
}

.portfolio__website {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.portfolio__arrow {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 425px) {
  .portfolio {
    max-width: 668px;
  }

  .portfolio__title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .portfolio__list {
    margin-bottom: 90px;
  }

  .portfolio__website {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__arrow {
    font-size: 28px;
    line-height: 50px;
  }

}
