.promo {
  height: calc(100vh - 74px);
  min-height: 570px;
  width: 100%;
  background-image: url('../../images/landing-logo.svg');
  background-size: 248px 248px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #DDDEE3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 207px 0 0 0;
  max-width: 300px;
  max-height: 117px;
  font-weight: normal;
  font-size: 31px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.04em;
  display: flex;
  flex: 1 0 auto;
}

@media screen and (min-width: 425px) {
  .promo {
    min-height: 784px;
    background-size: 320px;
  }

  .promo__title {
    max-width: 730px;
    margin-top: 326px;
    margin-bottom: 342px;
    font-size: 50px;
    line-height: 58px;
  }
}
