.search {
  width: calc(100vw - 28px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__bar {
  margin: 92px 0 9px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search__label {
  display: none;
}

.search__input {
  margin: 0;
  padding: 6px 0;
  max-width: 212px;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #A0A0A0;
  display: flex;
  border: none;
  background-color: #FAFAFA;
}

.search__input:focus-visible {
  border-radius: 10px;
  outline: #3456F3 solid 2px;
}

.search__input_type_error{
  border-radius: 10px;
  outline: 2px solid #EE3465;
}

.search__input_type_error:focus-visible {
  outline: 2px solid #EE3465;
}

.search__error {
  width: 100%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #EE3465;
  font-family: inherit;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}

.search__submit {
  margin: 0;
  padding: 0;
  display: block;
  width: 80px;
  height: 34px;
  border: none;
  background-image: url('../../images/search-submit.svg');
  background-size: contain;
  background-position: right;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  transition: box-shadow .2s linear, opacity .2s linear;
}

.search__submit:hover {
  opacity: .8;
}

.search__submit:focus-visible {
  outline: #3456F3 solid 2px;
}

.search__row {
  margin: 0 0 42px 0;
  background-color: #E8E8E8;
}

.search__filter {
  margin-bottom: 50px;
}

@media screen and (min-width: 321px) {
  .search {
    max-width: 708px;
  }

  .search__bar {
    max-width: 708px;
  }

  .search__filter {
    margin-bottom: 61px;
  }
}

@media screen and (min-width: 425px) {
  .search {
    width: calc(100vw - 36px);
  }

  .search__label {
    display: block;
    width: 80px;
    height: 34px;
    background-image: url('../../images/search-icon.svg');
    background-size: contain;
    background-position: left;
    background-color: transparent;
    background-repeat: no-repeat;
  }

  .search__input {
    max-width: 548px;
    width: 90%;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
  }
}


@media screen and (min-width: 1280px) {
  .search {
    max-width: 1140px;
  }

  .search__bar {
    max-width: 1140px;
  }

  .search__input {
    max-width: 980px;
  }
}
