.filter {
  width: 100%;
  max-width: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__label {
  width: 36px;
  height: 20px;
  position: relative;
}

/* выключенный визуально спан */
.filter__checkbox {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #EBEBEB;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: background-color .3s ease-out;
}

/* скрываем дефолтный чекбокс */
.filter__checkbox_type_input {
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* выключенный визуально спан */
.filter__checkbox_type_span::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #F5F5F5;
  position: absolute;
  top: 2px;
  left: 0px;
  transform: translateX(2px);
  transition: transform .3s ease-out;
}

/* включенный визуально спан */
.filter__checkbox:checked + .filter__checkbox_type_span::before {
  background-color: #fff;
  transform: translateX(18px);
}

.filter__checkbox:checked + .filter__checkbox_type_span {
  background-color: #2BE080;
}

/* визуально спан в фокусе c таба клавиатуры*/
.filter__checkbox:focus-visible + .filter__checkbox_type_span {
  outline: black solid 2px;
}

.filter__name {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .filter {
    max-width: 174px;
  }

  .filter__name {
    font-size: 14px;
    line-height: 18px;
  }
}
