.footer {
  max-width: 300px;
}

.footer__title {
  margin: 79px 0 21px 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #A0A0A0;
}

.footer__row {
  margin: 0 0 30px 0;
  background-color: #E8E8E8;
}

.footer__social-list {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-item {
  margin-bottom: 12px;
  max-height: 15px;
  display: flex;
}

.footer__social-item:last-child {
  margin-bottom: 0;
}

.footer__social-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #000;
}

.footer__copyright {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A0A0A0;
}
