.footer {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  margin: 79px 0 21px 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #A0A0A0;
}

.footer__row {
  margin: 0 0 30px 0;
  background-color: #E8E8E8;
}

.footer__content {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-list {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-item {
  margin-bottom: 12px;
  max-height: 15px;
  display: flex;
}

.footer__social-item:last-child {
  margin-bottom: 0;
}

.footer__social-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity .2s linear;
}

.footer__social-link:hover {
  opacity: .8;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  color: #A0A0A0;
}

@media screen and (min-width: 425px) {
  .footer {
    max-width: 708px;
  }

  .footer__title {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .footer__content {
    margin-bottom: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__social-list {
    margin: 0;
    width: 100%;
    max-width: 263px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__social-item {
    margin: 0;
  }

  .footer__social-link {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__copyright {
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    color: #000;

  }
}
