.techs {
  max-width: 284px;
}

.techs__title {
  margin: 70px 0 28px 0;
  width: 100%;
}

.techs__row {
  margin: 0 0 60px 0;
}

.techs__subtitle {
  margin: 0 0 24px 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__description {
  margin: 0 auto 50px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__list {
  width: 100%;
  max-width: 178px;
  list-style: none;
  margin: 0 auto 70px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.techs__item {
  width: 84px;
  height: 57px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs__item:nth-child(2n) {
  margin-right: 0;
}

.techs__item:last-child {
  margin: 0;
}

.techs__name {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 425px) {
  .techs {
    max-width: 668px;
  }

  .techs__title {
    margin: 90px 0 23px 0;
  }

  .techs__row {
    margin-bottom: 80px;
  }

  .techs__subtitle {
    margin-bottom: 22px;
    font-size: 50px;
    line-height: 58px;
  }

  .techs__description {
    margin-bottom: 83px;
    max-width: 460px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    margin: 0 0 90px 0;
    max-width: 648px;
  }

  .techs__item:nth-child(2n) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 648px) {
  .techs__item {
    margin-bottom: 0;
  }
}
