body {
  width: 100%;
  margin: 0;
  background-color: #FAFAFA;
  font-family: "Inter", sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

@import url('./vendor/fonts/fonts.css');

@import url('./components/Header/Header.css');

@import url('./components/Navigation/Navigation.css');

@import url('./components/Promo/Promo.css');

@import url('./components/Section/Section.css');

@import url('./components/NavTab/NavTab.css');

@import url('./components/Row/Row.css');

@import url('./components/AboutProject/AboutProject.css');

@import url('./components/Techs/Techs.css');

@import url('./components/AboutMe/AboutMe.css');

@import url('./components/Portfolio/Portfolio.css');

@import url('./components/Footer/Footer.css');

@import url('./components/Movies/Movies.css');

@import url('./components/SearchForm/SearchForm.css');

@import url('./components/FilterCheckbox/FilterCheckbox.css');

@import url('./components/MoviesCardList/MoviesCardList.css');

@import url('./components/MoviesCard/MoviesCard.css');

@import url('./components/SavedMovies/SavedMovies.css');

@import url('./components/Profile/Profile.css');

@import url('./components/Login/Login.css');

@import url('./components/Register/Register.css');

@import url('./components/NotFound/NotFound.css');
