.aboutme__row {
  margin: 0 0 60px 0;
}

.aboutme__info {
  margin: 0 0 69px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme__info-content_type_photo {
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%;
  max-width: 292px;
  max-height: 352px;
  overflow: hidden;
  border-radius: 10px;
}

.aboutme__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutme__info-content_type_text {
  display: flex;
  flex-direction: column;
}

.aboutme__name {
  margin: 0 0 20px 0;
  width: 100%;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
}

.aboutme__profession {
  margin: 0 0 20px 0;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

.aboutme__description {
  margin: 0 0 40px 0;
  font-size: 11px;
  line-height: 16px;
}

.aboutme__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
}

.aboutme__social-item {
  margin-right: 26px;
  display: flex;
}

.aboutme__social-item:last-child {
  margin-right: 0;
}

.aboutme__social-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s linear;
}

.aboutme__social-link:hover {
  opacity: .8;
}

@media screen and (min-width: 425px) {
  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .aboutme__profession {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }

  .aboutme__social-list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 600px) {
  .aboutme__row {
    margin: 0 0 66px 0;
  }

  .aboutme__info {
    margin: 0 0 90px 0;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .aboutme__info-content {
    margin-right: 49px;
  }

  .aboutme__info-content:first-child {
    margin-right: 0;
  }

  .aboutme__info-content_type_photo {
    margin-bottom: 0;
    max-width: 255px;
    max-height: 307px;
  }

  .aboutme__info-content_type_text {
    max-width: 364px;
  }
}

@media screen and (min-width: 1024px) {
  .aboutme__info {
    margin: 0 0 100px 0;
  }

  .aboutme__info-content_type_text {
    max-width: 600px;
  }

  .aboutme__info-content_type_photo {
    max-width: 270px;
    max-height: 327px;
  }

  .aboutme__name {
    margin-bottom: 18px;
    font-size: 50px;
    line-height: 58px;
  }

  .aboutme__profession {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 20px;
  }

  .aboutme__description {
    margin-bottom: 99px;
    font-size: 14px;
    line-height: 22px;
  }

}
