.aboutme {
  max-width: 292px;
}

.aboutme__title {
  margin: 70px 0 28px 0;
  width: 100%;
}

.aboutme__row {
  margin: 0 0 60px 0;
}

.aboutme__image-container {
  margin: 0 0 40px 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 292px;
  max-height: 352px;
  border-radius: 10px;
}

.aboutme__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutme__name {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
}

.aboutme__info {
  margin: 0 0 20px 0;
  width: 100%;
  font-weight: 500;
}

.aboutme__description {
  margin: 0 0 40px 0;
}

.aboutme__social-list {
  list-style: none;
  margin: 0 0 69px 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.aboutme__social-item {
  margin-right: 26px;
  display: flex;
}
.aboutme__social-item:last-child {
  margin-right: 0;
}

.aboutme__social-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
}
